<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>novel</title>
	<link rel="stylesheet" href="/css/douban/novel.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/douban/novel.js"></script>
</head>
<body>
	<div id="head">
		<ul class="head_left">
			<li><a href="">豆瓣</a></li>
			<li><a href="read">读书</a></li>
			<li><a href="">电影</a></li>
			<li><a href="">音乐</a></li>
			<li><a href="">同城</a></li>
			<li><a href="">小组</a></li>
			<li><a href="">阅读</a></li>
			<li><a href="">FM</a></li>
			<li><a href="">东西</a></li>
			<li><a href="">市集</a></li>
			<li><a href="">更多</a></li>
		</ul>
		<ul class="head_right">
			<li>
				<a href="">下载豆瓣客户端</a>
				<div id="dbkfd_h">
					<img src="/img/douban/nav_doubanapp_6.png" alt="">
					<h2>豆瓣</h2>
					<p>我们的精神世界</p>
					<img src="/img/douban/nav_doubanapp_6_qrcode.png" alt="">
					<p>iPhone·Android</p>
				</div>
			</li>
			<li><a href="">登录</a></li>
			<li><a href="">注册</a></li>
		</ul>
	</div>
	<div id="dushuicon">
		<div class="icon">
			<div class="icon_pic">
				<a href="#">豆瓣读书</a>
			</div>
			<form action="" method="">
				<div id="query_text_h">
					<input type="text" name="" id="" placeholder="书名、作者、ISBN">
				</div>
				<div class="query_h">
					<input type="submit" value="">
				</div>
			</form>
		</div>
		<ul>
			<li><a href="tag">分类浏览</a></li>
			<li class="book-cart"><a href="">购书单</a></li>
			<li><a href="">电子图书</a></li>
			<li><a href="">纸书</a></li>
		</ul>
	</div>
	<div class="cargoList">
		<div class="left-list">
			<h2>豆瓣图书标签:小说</h2>
			<div class="catalog">
				<span class="cl-list">综合排序</span>
				<span>/</span>
				<span class="cl-list blueFont">按出版日期排序</span>
				<span>/</span>
				<span class="cl-list blueFont">按评价排序</span>
			</div>
			<div class="list-content">
				<ul>
					<li>
						<div class="pic"><a href=""><img src="..//img/douban/novel_1.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href="">解忧杂货店</a></p>
							<p>(日)东野圭吾/李盈春/南海出版公司/2014-5/39.50元</p>
							<div>
								<span class="allstar1"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more">现代人内心流失的东西，这家杂货店能帮你找回——
僻静的街道旁有一家杂货店，只要写下烦恼投进卷帘门的投信口，第二天就会在店后的牛奶箱里得到回答。
因男友身患绝... </p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_2.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href="">巨人的陨落<span style="font-size: 12px">:世纪三部曲</span></a></p>
							<p>  [英] 肯·福莱特 / 于大卫 / 江苏凤凰文艺出版社 / 2016-5-1 / 129.80元
</p>
							<div>
								<span class="allstar2"></span>
								<span class="rating-nums">9.0</span>
								<span class="pl">(3968人评价)</span>
							</div>
							<p class="more">世界是属于勇敢者的，所以世界是属于我的。
全球读者平均3个通宵看完的超级巨著
全球每三秒卖出一本！
十年来，最快速度横扫欧美16国排行榜的超级小说
★ 初版... </p>
							<p class="buy-info">纸质版89.60元起</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-content">
				<ul>
					<li>
						<div class="pic"><a href=""><img src="..//img/douban/novel_3.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar1"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_4.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar2"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-content">
				<ul>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_5.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar1"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_6.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar2"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-content">
				<ul>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_7.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar1"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_8.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar2"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-content">
				<ul>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_9.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar1"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
					<li>
						<div class="pic"><a href=""><img src="/img/douban/novel_10.jpg" alt=""></a></div>
						<div class="info">
							<p class="title"><a href=""></a></p>
							<p></p>
							<div>
								<span class="allstar2"></span>
								<span class="rating-nums">8.6</span>
								<span class="pl">(139666人评价)</span>
							</div>
							<p class="more"></p>
							<p class="buy-info">纸质版26.00元起</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
