<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DBdushu</title>
	<link rel="stylesheet" href="/css/douban/read.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
	<script src="/js/douban/read.js" type="text/javascript"></script>
</head>
<body>
	<div id="head">
		<ul class="head_left">
			<li><a href="/works/douban">豆瓣</a></li>
			<li><a href="read">读书</a></li>
			<li><a href="">电影</a></li>
			<li><a href="">音乐</a></li>
			<li><a href="">同城</a></li>
			<li><a href="">小组</a></li>
			<li><a href="">阅读</a></li>
			<li><a href="">FM</a></li>
			<li><a href="">东西</a></li>
			<li><a href="">市集</a></li>
			<li><a href="">更多</a></li>
		</ul>
		<ul class="head_right">
			<li>
				<a href="">下载豆瓣客户端</a>
				<div id="dbkfd_h">
					<img src="/img/douban/nav_doubanapp_6.png" alt="">
					<h2>豆瓣</h2>
					<p>我们的精神世界</p>
					<img src="/img/douban/nav_doubanapp_6_qrcode.png" alt="">
					<p>iPhone·Android</p>
				</div>
			</li>
			<li><a href="">登录</a></li>
			<li><a href="">注册</a></li>
		</ul>
	</div>
	<div id="dushuicon">
		<div class="icon">
			<div class="icon_pic">
				<a href="#">豆瓣读书</a>
			</div>
			<form action="" method="">
				<div id="query_text_h">
					<input type="text" name="" id="" placeholder="书名、作者、ISBN">
				</div>
				<div class="query_h">
					<input type="submit" value="">
				</div>
			</form>
		</div>
		<ul>
			<li><a href="tag">分类浏览</a></li>
			<li class="book-cart"><a href="">购书单</a></li>
			<li><a href="">电子图书</a></li>
			<li><a href="">纸书</a></li>
		</ul>
	</div>
	<div id="pic_1_dushu">

	</div>
	<div id="content">
		<div class="new_book">
			<div class="new_book_top">
				<h2>新书速递<a href="">更多»</a></h2>
				<div class="slide_controls">
					<ol>
						<li class="color_disc"><span href=""></span></li>
						<li><span href=""></span></li>
						<li><span href=""></span></li>
						<li><span href=""></span></li>
					</ol>
				</div>
				<div class="silde_btns">
					<a href="">‹</a>
					<a href="">›</a>
				</div>
			</div>
			<div class="new_book_middle">
				<ul>
					<li>
						<a href="" title="过去现在，一并深爱"><img src="/img/douban/dushu_a1.jpg" alt="" width="106px" height="158px" ></a>
						<div class="desc_a1">
							<div class="demo2">
							<h2>过去现在，一并深爱</h2>
							<p>祝小兔/2016-7/北京日报出版社</p>
							<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
					        <em>&#9670;</em>
					        <span>&#9670;</span>
					    </div>
						</div>
						<div class="intervenor_info">
							<img src="/img/douban/jd_recommend.png" alt="" width="16px" height="16px">
							<span>推荐</span>
						</div>
						<div class="info">
							<a href="" title="过去现在，一并深爱">过去现在，一并深爱</a>
							<p>祝小兔</p>
						</div>
					</li>
					<li>
						<a href="" title="巨人的陨落"><img src="/img/douban/dushu_a2.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
							<h2>巨人的陨落</h2>
							<p>祝小兔/2016-7/北京日报出版社</p>
							<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
					        <em>&#9670;</em>
					        <span>&#9670;</span>
					    </div>
					    </div>
						<div class="intervenor_info">
							<img src="/img/douban/jd_recommend.png" alt="" width="16px" height="16px">
							<span>推荐</span>
						</div>
						<div class="info">
							<a href="" title="巨人的陨落">巨人的陨落</a>
							<p>[英]肯·福莱特</p>
						</div>
					</li>
					<li>
						<a href="" title="理解未来的7个原则"><img src="/img/douban/dushu_a3.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>理解未来的7个原则</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="intervenor_info">
							<img src="/img/douban/jd_recommend.png" alt="" width="16px" height="16px">
							<span>推荐</span>
						</div>
						<div class="info">
							<a href="" title="理解未来的7个原则">理解未来的7个原则</a>
							<p>[美]丹尼尔·伯勒斯（Daniel Burrus） / 约翰·戴维·曼（John David Mann）</p>
						</div>
					</li>
					<li>
						<a href="" title="音乐神童加工厂"><img src="/img/douban/dushu_a4.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>音乐神童加工厂</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="intervenor_info">
							<img src="/img/douban/jd_recommend.png" alt="" width="16px" height="16px">
							<span>推荐</span>
						</div>
						<div class="info">
							<a href="" title="音乐神童加工厂">音乐神童加工厂</a>
							<p>伊莎贝拉·瓦格纳</p>
						</div>
					</li>
					<li>
						<a href="" title="解答之书"><img src="/img/douban/dushu_a5.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>解答之书</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="intervenor_info">
							<img src="/img/douban/jd_recommend.png" alt="" width="16px" height="16px">
							<span>推荐</span>
						</div>
						<div class="info">
							<a href="" title="解答之书">解答之书</a>
							<p>[美]卡罗尔•博尔特Carol Bolt</p>
						</div>
					</li>
					<li>
						<a href="" title="校园秘史"><img src="/img/douban/dushu_a6.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>校园秘史</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="校园秘史">校园秘史</a>
							<p>[美]·唐娜·塔特</p>
						</div>
					</li>
					<li>
						<a href="" title="大都会艺术博物馆指南"><img src="/img/douban/dushu_a7.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>大都会艺术博物馆指南</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="大都会艺术博物馆指南">大都会艺术博物馆指南</a>
							<p>美国大都会艺术博物馆</p>
						</div>
					</li>
					<li>
						<a href="" title="超能力侦探事务所"><img src="/img/douban/dushu_a8.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>超能力侦探事务所</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="超能力侦探事务所">超能力侦探事务所</a>
							<p>陆烨华</p>
						</div>
					</li>
					<li>
						<a href="" title="阿尔贝·加缪"><img src="/img/douban/dushu_a9.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>阿尔贝·加缪</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="阿尔贝·加缪">阿尔贝·加缪</a>
							<p>[美]罗伯特·泽拉塔斯基</p>
						</div>
					</li>
					<li>
						<a href="" title="小镇忧郁青年的十八种死法"><img src="/img/douban/dushu_a10.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>小镇忧郁青年的十八种死法</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="小镇忧郁青年的十八种死法">小镇忧郁青年的十八种死法</a>
							<p>魏思孝</p>
						</div>
					</li>
				</ul>
				<ul style="display:none">
					<li>
						<a href=""><img src="/img/douban/dushu_b1.jpg" alt="" width="106px" height="158px" title="安身与立命"></a>
						<div class="desc_a1">
							<div class="demo2">
							<h2>安身与立命</h2>
							<p>祝小兔/2016-7/北京日报出版社</p>
							<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
					        <em>&#9670;</em>
					        <span>&#9670;</span>
					    </div>
						</div>
						<div class="info">
							<a href="" title="安身与立命">安身与立命</a>
							<p>余世存</p>
						</div>
					</li>
					<li>
						<a href="" title="再见，萤火虫"><img src="/img/douban/dushu_b2.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
							<h2>再见，萤火虫</h2>
							<p>祝小兔/2016-7/北京日报出版社</p>
							<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
					        <em>&#9670;</em>
					        <span>&#9670;</span>
					    </div>
					    </div>
						<div class="info">
							<a href="" title="再见，萤火虫">再见，萤火虫</a>
							<p>[美]·可莱丝·汉娜</p>
						</div>
					</li>
					<li>
						<a href="" title="造房子"><img src="/img/douban/dushu_b3.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2造房子</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="造房子">造房子</a>
							<p>王澎</p>
						</div>
					</li>
					<li>
						<a href="" title="在一个陌生的房间"><img src="/img/douban/dushu_b4.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>在一个陌生的房间</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="音乐神童加工厂">音乐神童加工厂</a>
							<p>[南非]达蒙·加尔格特（Damon Galgut）</p>
						</div>
					</li>
					<li>
						<a href="" title="大历史"><img src="/img/douban/dushu_b5.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>大历史</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="大历史">大历史</a>
							<p>[美]大卫·克里斯蒂安(David Christian) / 辛西娅·斯托克斯·布朗(Cynthia Stokes Brown) / 克雷格·本杰明(Craig Benjamin)</p>
						</div>
					</li>
					<li>
						<a href="" title="危险关系"><img src="/img/douban/dushu_b6.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>危险关系</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="危险关系">危险关系</a>
							<p>[美] 埃尔默·伦纳德</p>
						</div>
					</li>
					<li>
						<a href="" title="民国太太的厨房"><img src="/img/douban/dushu_b7.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>民国太太的厨房</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="民国太太的厨房">民国太太的厨房</a>
							<p>李舒</p>
						</div>
					</li>
					<li>
						<a href="" title="芙蓉如面柳如眉"><img src="/img/douban/dushu_b8.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>芙蓉如面柳如眉</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="芙蓉如面柳如眉">芙蓉如面柳如眉</a>
							<p>笛安</p>
						</div>
					</li>
					<li>
						<a href="" title="古拉格气象学家"><img src="/img/douban/dushu_b9.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>古拉格气象学家</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="古拉格气象学家">古拉格气象学家</a>
							<p>[法] 奥利维埃·罗兰</p>
						</div>
					</li>
					<li>
						<a href="" title="不然你搬去火星啊"><img src="/img/douban/dushu_b10.jpg" alt="" width="106px" height="158px"></a>
						<div class="desc_a1">
							<div class="demo2">
								<h2>不然你搬去火星啊</h2>
								<p>祝小兔/2016-7/北京日报出版社</p>
								<P>文艺女神祝小兔寻味英国，将沿途的风景、陌生人的温柔、不期而遇的惊喜细细收藏，这是一场远离家乡的旅途，却是走进自己内心的归途。祝小兔用她的文字和生活体验告诉我们，“好”的、精致的生活，不是每天都充满着昂贵的物品，而是日常生活中那饱满的热情心态，心地干净地爱人，读看似无用的书，吃不求饱的点心，没有妄念的欣赏风景，不制造不必要的麻烦。为我们觉得...</P>
						        <em>&#9670;</em>
						        <span>&#9670;</span>
					    	</div>
						</div>
						<div class="info">
							<a href="" title="不然你搬去火星啊">不然你搬去火星啊</a>
							<p>[日] 伊坂幸太郎</p>
						</div>
					</li>
				</ul>
				<div class="qiufeng">
					<a href=""><img src="/img/douban/dushu_qiufeng.jpg" alt=""></a>
					<div>广告</div>
				</div>
				<h2>最受关注图书榜
					<span><a href="">虚构类»</a></span>
					<span><a href="">非虚构类»</a></span>
				</h2>
				<div class="bd">
					<ul>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa1.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">蒙着眼睛的旅行者</a></h4>
								<p>
									<span style="background:url(/img/douban/1.png) no-repeat 0px -11px;width:33px;height:11px; text-indent:-100000px">aaaaaaaa</span>
									<span class="average-rating">8.5</span>
								</p>
								<p class="author">作者：朱岳</p>
								<p class="book-list">朱岳/短篇小说/当代文学</p>
								<p class="extra-info">向小说和小说家索要明确的是非意义并不好玩(<a href="">老鱼评论</a>)</p>
							</div>
						</li>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa2.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">十二幅地图中的世界史</a></h4>
								<p><span></span><span class="average-rating">8.7</span></p>
								<p class="author">作者：[英]杰里·布罗顿/Jerry</p>
								<p class="book-list">Brotton</p>
								<p class="book-list">世界史/地图/文化</p>
								<p class="extra-info">世界之奥秘徐徐绽放在地图之中，每一幅地图就是一次探索，都是对已知世界的再认识和对未知世界的瞻望(<a href="">书评人林颐评论</a>)</p>
							</div>
						</li>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa3.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">不属于我们的世纪</a></h4>
								<p><span></span><span class="average-rating">9.5</span></p>
								<p class="author">作者:[美]马修·托马斯</p>
								<p class="book-list">美国文学/心灵/马修·托马斯</p>
								<p class="extra-info">每一场费心筑梦之下的失败，都像碎片刺痛着我们的心。(<a href="">Kyy评论</a>)</p>
							</div>
						</li>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa4.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">二十亿光年的孤独</a></h4>
								<p><span></span><span class="average-rating">8.3</span></p>
								<p class="author">作者：[日]谷川俊太郎</p>
								<p class="book-list">诗歌/谷川俊太郎/日本文学</p>
								<p class="extra-info">他忠实于自己内心沉默的力量，对宇宙和历史的想象独一无二(<a href="">一月评论</a>)</p>
							</div>
						</li>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa5.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">困扰种种</a></h4>
								<p><span></span><span class="average-rating">8.6</span><span>新上榜</span></p>
								<p class="author">作者:[美]莉迪亚·戴维斯</p>
								<p class="book-list">美国文字/短篇小说/莉迪亚·戴维斯</p>
								<p class="extra-info">一切都发生在读者的脑海中，而莉迪亚·戴维斯所做的，是引爆了这颗语言炸弹。(<a href="">btr评论</a>)</p>
							</div>
						</li>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa6.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">月童度河</a></h4>
								<p><span></span><span class="average-rating">7.6</span></p>
								<p class="author">作者:庆山</p>
								<p class="book-list">散文随笔/文学/成长</p>
								<p class="extra-info">"朴素简单地存在",或许这才是逃离虚无的可循之径(<a href="">曾于里评论</a>)</p>
							</div>
						</li>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa7.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">精神科的故事:空中秋千</a></h4>
								<p><span></span><span class="average-rating">8.4</span><span>新上榜</span></p>
								<p class="author">作者:[日]奥田英朗</p>
								<p class="book-list">日本文学/奥田英朗/小说</p>
								<p class="extra-info">大家都有弱点，如果自己不愿触及自己的内心，那么很可能就会走入心的漆黑(<a href="">茜茜评论</a>)</p>
							</div>
						</li>
						<li>
							<div class="cover"><a href=""><img src="/img/douban/dushu_aa8.jpg" alt=""></a></div>
							<div class="bd_info">
								<h4 class="title"><a href="">这样和世界相处</a></h4>
								<p><span></span><span class="average-rating">7.8</span></p>
								<p class="author">作者：[奥]阿尔弗雷德•阿德勒</p>
								<p class="book-list">心理学 / 自我提升 / 成长</p>
								<p>有电子书</p>
								<p class="extra-info">非黑即白是错误的，单一向的定义一个人也肯定是不准确的。(<a href="">張張三评论</a>)</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new_book_middle_right">
				<div class="new_book_middle_right_top">
					<a href="">
						<img src="/img/douban/dushu_lancome.jpg" alt="" width="300" height="250">
						<div>广告</div>
					</a>
					<h3>热门标签
						<span class="link-more"><a href="">所有热门标签»</a></span>
					</h3>
					<ul>
						<li class="">文学</li>
						<li><a href="">小说</a></li>
						<li><a href="">随笔</a></li>
						<li><a href="">日本文学</a></li>
						<li><a href="">散文</a></li>
						<li><a href="">诗歌</a></li>
						<li><a href="">童话</a></li>
						<li><a href="">名著</a></li>
						<li><a href="">港台</a></li>
						<li class="last"><a href="">更多》</a></li>
					</ul>
					<ul>
						<li>流行</li>
						<li><a href="">漫画</a></li>
						<li><a href="">绘本</a></li>
						<li><a href="">推理</a></li>
						<li><a href="">青春</a></li>
						<li><a href="">言情</a></li>
						<li><a href="">科幻</a></li>
						<li><a href="">武侠</a></li>
						<li><a href="">奇幻</a></li>
						<li class="last"><a href="">更多》</a></li>
					</ul>
					<ul>
						<li>文化</li>
						<li><a href="">历史</a></li>
						<li><a href="">哲学</a></li>
						<li><a href="">传记</a></li>
						<li><a href="">设计</a></li>
						<li><a href="">建筑</a></li>
						<li><a href="">电影</a></li>
						<li><a href="">回忆录</a></li>
						<li><a href="">音乐</a></li>
						<li class="last"><a href="">更多》</a></li>
					</ul>
					<ul>
						<li>生活</li>
						<li><a href="">旅行</a></li>
						<li><a href="">励志</a></li>
						<li><a href="">职场</a></li>
						<li><a href="">美食</a></li>
						<li><a href="">教育</a></li>
						<li><a href="">灵修</a></li>
						<li><a href="">健康</a></li>
						<li><a href="">家居</a></li>
						<li class="last"><a href="">更多》</a></li>
					</ul>
					<ul>
						<li>经管</li>
						<li><a href="">经济学</a></li>
						<li><a href="">管理</a></li>
						<li><a href="">金融</a></li>
						<li><a href="">商业</a></li>
						<li><a href="">营销</a></li>
						<li><a href="">理财</a></li>
						<li><a href="">股票</a></li>
						<li><a href="">企业史</a></li>
						<li class="last"><a href="">更多》</a></li>
					</ul>
					<ul>
						<li>科技</li>
						<li><a href="">科普</a></li>
						<li><a href="">互联网</a></li>
						<li><a href="">编程</a></li>
						<li><a href="">交互设计</a></li>
						<li><a href="">算法</a></li>
						<li><a href="">通信</a></li>
						<li><a href="">神经网络</a></li>
						<li class="last"><a href="">更多》</a></li>
					</ul>
				</div>
				<div class="new_book_middle_right_bottom">
					<div class="weekly-top">
						<h2>畅销图书榜</h2>
					</div>
					<ul class="nav-vendor">
						<li class="xuan_bang"><a href=""><img src="/img/douban/jd_chart_hover.png" alt="" width="18" height="18"><span>京东</span></a></li>
						<li><a href=""><img src="/img/douban/amazon_chart.png" alt="" width="18" height="18"><span>亚马逊</span></a></li>
						<li><a href=""><img src="/img/douban/dangdang_chart.png" alt="" width="18" height="18"><span>当当</span></a></li>
					</ul>
					<ul class="list-ranking">
						<li class="item">
							<span>1.</span>
							<div class="book-info">
								<a href="">愿无岁月可回头</a>
								<p>回忆专用小马甲</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>2.</span>
							<div class="book-info">
								<a href="">新概念英语第一册</a>
								<p>(英)亚历山大/何其莘</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>3.</span>
							<div class="book-info">
								<a href="">黑旋风试卷·星火英语四级真题</a>
								<p>汪开虎</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>4.</span>
							<div class="book-info">
								<a href="">孤独深处</a>
								<p>郝景芳</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>5.</span>
							<div class="book-info">
								<a href="">现代汉语词典(第6版)</a>
								<p>中国社会科学院语言研究所词典编辑室 编</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>6.</span>
							<div class="book-info">
								<a href="">岛上书店</a>
								<p>[美]加布瑞埃拉·泽文</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>7.</span>
							<div class="book-info">
								<a href="">新东方·四级词汇词根+联想记忆法</a>
								<p>俞敏洪</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>8.</span>
							<div class="book-info">
								<a href="">黑旋风试卷·星火英语四级真题</a>
								<p>汪开虎</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>9.</span>
							<div class="book-info">
								<a href="">从你的世界路过</a>
								<p>张嘉佳</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>10.</span>
							<div class="book-info">
								<a href="">朝花夕拾</a>
								<p>鲁迅</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
					</ul>
					<ul class="list-ranking" style="display:none">
						<li class="item">
							<span>1.</span>
							<div class="book-info">
								<a href="">岛上书店</a>
								<p>[美]加布瑞埃拉·泽文</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>2.</span>
							<div class="book-info">
								<a href="">好吗好的</a>
								<p>大冰</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>3.</span>
							<div class="book-info">
								<a href="">天才在左 疯子在右（完整版）</a>
								<p>高铭</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>4.</span>
							<div class="book-info">
								<a href="">活着</a>
								<p>余华</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>5.</span>
							<div class="book-info">
								<a href="">肖秀荣2017考研政治命题人1000题</a>
								<p>肖秀荣</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>6.</span>
							<div class="book-info">
								<a href="">肖秀荣2017考研政治命题人知识精讲精炼</a>
								<p>肖秀荣</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>7.</span>
							<div class="book-info">
								<a href="">解忧杂货店</a>
								<p>(日)东野圭吾</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>8.</span>
							<div class="book-info">
								<a href="">从你的世界路过</a>
								<p>张嘉佳</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>9.</span>
							<div class="book-info">
								<a href="">走到人生边上</a>
								<p>杨绛</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>10.</span>
							<div class="book-info">
								<a href="">巨人的陨落</a>
								<p>[英]肯·福莱特</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
					</ul>
					<ul class="list-ranking" style="display:none">
						<li class="item">
							<span>1.</span>
							<div class="book-info">
								<a href="">追风筝的人</a>
								<p>[美]卡勒德·胡赛尼</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>2.</span>
							<div class="book-info">
								<a href="">解忧杂货店</a>
								<p>(日)东野圭吾</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>3.</span>
							<div class="book-info">
								<a href="">朝花夕拾</a>
								<p>鲁迅</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>4.</span>
							<div class="book-info">
								<a href="">活着</a>
								<p>余华</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>5.</span>
							<div class="book-info">
								<a href="">天才在左疯子在右（完整版）</a>
								<p>高铭</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>6.</span>
							<div class="book-info">
								<a href="">白夜行</a>
								<p>[日]东野圭吾</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>7.</span>
							<div class="book-info">
								<a href="">从你的世界路过</a>
								<p>张嘉佳</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>8.</span>
							<div class="book-info">
								<a href="">我们仨</a>
								<p>杨绛</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>9.</span>
							<div class="book-info">
								<a href="">摆渡人</a>
								<p>[英]克莱儿·麦克福尔</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
						<li class="item">
							<span>10.</span>
							<div class="book-info">
								<a href="">目送</a>
								<p>龙应台</p>
							</div>
							<a href=""><span>去购买</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</body>
</html>
