<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="animation/circle">circle</a>
  <a href="animation/column">column</a>
  <a href="animation/motion">motion</a>
  <a href="animation/nian">nian</a>
  <a href="animation/progress">progress</a>
  <a href="animation/star">star</a>
  <a href="animation/svgRemove">svgRemove</a>
  <a href="animation/walk">walk</a>
  <a href="animation/zp">zp</a>
  <a href="animation/zhima">芝麻信用</a>
  <a href="animation/timer">计时器</a>
  <a href="animation/video">动态背景</a>
  <a href="animation/clock">小时钟</a>
</body>
</html>
