<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <svg width="240" height="240" xmlns="http://www.w3.org/2000/svg">
    <polygon points="122 58,72 205,194 114,49 114,171 205"
      stroke-width="3" stroke="#333" style="fill:#ff6600">
      <animateTransform
        attributeName="transform"
        attributeType="XML"
        type="rotate"
        from="0 125 125"
        to="360 125 125"
        begin="0s"
        dur="10s"
        repeatCount="indefinite"
      />
    </polygon>
  </svg>
</body>
</html>
