* {
  padding: 0px;
  margin: 0px;
  outline: 0; }

#head {
  background: #545652;
  height: 30px;
  padding: 0px 0px 0px 6px; }
  #head ul li {
    list-style: none;
    line-height: 30px; }
    #head ul li a {
      color: #d5d5d5;
      font-size: 12px;
      text-decoration: none; }
      #head ul li a:hover {
        color: #fff; }

.head_left li {
  float: left;
  width: 3em; }

.head_right {
  float: right;
  position: relative; }
  .head_right li:first-child > div {
    background: #fff;
    position: absolute;
    z-index: 3;
    top: 30px;
    left: -85px;
    text-align: center;
    width: 260px;
    padding: 60px 0px 20px 0px;
    display: none; }
    .head_right li:first-child > div h2 {
      color: #666;
      margin: 10px 0px 0px 0px; }
    .head_right li:first-child > div p {
      font-size: 12px;
      letter-spacing: 4px;
      margin: 0px 0px 30px 0px; }
    .head_right li:first-child > div img + p {
      color: #37a;
      letter-spacing: 0px; }
      .head_right li:first-child > div img + p:hover {
        cursor: pointer; }
  .head_right li {
    display: inline-block;
    margin: 0px 20px 0px 0px; }

#dushuicon {
  height: 100px;
  background: #f6f6f1;
  padding: 20px 0px 0px 0px; }
  #dushuicon .icon {
    border-bottom: 1px solid #e9e9e2; }
    #dushuicon .icon .icon_pic {
      background: url(/img/douban/lg_book_a11_1.png) no-repeat;
      text-indent: -10000px;
      width: 145px;
      height: 50px;
      margin-left: 10%; }
    #dushuicon .icon form #query_text_h {
      background: url(/img/douban/nav_bg_a1.png) no-repeat;
      height: 38px; }
      #dushuicon .icon form #query_text_h input {
        font-size: 12px;
        padding: 7px 10px 5px 10px;
        width: 400px;
        margin-top: 1px;
        border: none; }
    #dushuicon .icon .query_h input {
      margin-left: -10px;
      width: 40px;
      height: 36px;
      border: none;
      background: url(/img/douban/nav_bg_a1.png) no-repeat 0px -40px;
      padding: 0px 0px 17px 0px;
      cursor: pointer; }
      #dushuicon .icon .query_h input:hover {
        background: url(/img/douban/nav_bg_a1.png) no-repeat -40px -40px; }
  #dushuicon .icon_pic, #dushuicon .icon_pic + form {
    display: inline-block; }
  #dushuicon #query_text_h, #dushuicon .query_h {
    display: inline-block; }
  #dushuicon ul {
    margin: 10px 0px 0px 10%; }
    #dushuicon ul .book-cart {
      background: url(/img/douban/icon-cart.png) no-repeat 0px 6px;
      text-indent: 30px; }
    #dushuicon ul li {
      list-style: none;
      display: inline-block;
      margin-right: 30px; }
      #dushuicon ul li a {
        color: #82705b;
        font-size: 12px;
        text-decoration: none; }
        #dushuicon ul li a:hover {
          color: #fff;
          background: #82705b; }

#pic_1_dushu {
  background: url(/img/douban/dushu_1.jpg) no-repeat;
  width: 100%;
  height: 100px;
  margin: 20px 0px 30px 10%; }

#content .new_book .new_book_top {
  margin-left: 10%;
  height: 30px; }
  #content .new_book .new_book_top h2 {
    color: #111;
    font-size: 14px; }
    #content .new_book .new_book_top h2 a {
      color: #37a;
      font-size: 12px;
      margin-left: 16px;
      color: #37a;
      text-decoration: none; }
      #content .new_book .new_book_top h2 a:hover {
        color: #fff;
        background: #37a; }
  #content .new_book .new_book_top .slide_controls {
    margin: 5px 0px 0px 30%; }
    #content .new_book .new_book_top .slide_controls ol {
      float: right;
      list-style-position: inside; }
      #content .new_book .new_book_top .slide_controls ol li {
        float: left;
        color: #dcdcdc;
        list-style-type: disc; }
      #content .new_book .new_book_top .slide_controls ol .color_disc {
        color: #a7a69c; }
  #content .new_book .new_book_top .silde_btns {
    margin-top: 4px; }
    #content .new_book .new_book_top .silde_btns a, #content .new_book .new_book_top .silde_btns a + a {
      color: #fff;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      background: #a7a69c;
      text-decoration: none;
      text-align: center;
      margin-left: 4px;
      display: inline-block;
      font-size: 20px;
      line-height: 16px; }
      #content .new_book .new_book_top .silde_btns a:hover, #content .new_book .new_book_top .silde_btns a + a:hover {
        background: #bbb; }
  #content .new_book .new_book_top h2, #content .new_book .new_book_top .slide_controls, #content .new_book .new_book_top .silde_btns {
    display: inline-block;
    vertical-align: middle; }

#content .new_book .new_book_middle {
  font-size: 12px;
  width: 605px;
  margin-left: 10%;
  display: inline-block;
  border-top: 1px solid #ddd; }
  #content .new_book .new_book_middle ul {
    margin: 14px 0px 12px 0px; }
    #content .new_book .new_book_middle ul li {
      list-style: none;
      text-decoration: none;
      display: inline-block;
      margin: 0px 8px 10px 0px;
      position: relative; }
      #content .new_book .new_book_middle ul li .desc_a1 {
        position: absolute;
        top: -30px;
        left: 120px;
        z-index: 4;
        display: none; }
        #content .new_book .new_book_middle ul li .desc_a1 .demo2 {
          width: 300px;
          font-family: Helvetica, Arial, sans-serif;
          border: 1px solid #666;
          height: 200px;
          position: relative;
          background: #eee;
          color: #575757;
          line-height: 1.2;
          text-align: justify;
          padding: 10px 12px 0px 12px; }
          #content .new_book .new_book_middle ul li .desc_a1 .demo2 h2 {
            color: #353535;
            margin-top: 0px; }
          #content .new_book .new_book_middle ul li .desc_a1 .demo2 p {
            margin: 10px 0px 10px 0px; }
          #content .new_book .new_book_middle ul li .desc_a1 .demo2 em, #content .new_book .new_book_middle ul li .desc_a1 .demo2 span {
            font-style: normal;
            font-size: 30px;
            position: absolute;
            left: -16px;
            top: 80px;
            color: #666; }
          #content .new_book .new_book_middle ul li .desc_a1 .demo2 span {
            left: -14px;
            color: #eee; }
      #content .new_book .new_book_middle ul li .intervenor_info {
        background: #f7f3db;
        height: 16px; }
        #content .new_book .new_book_middle ul li .intervenor_info span {
          color: #a29e91;
          vertical-align: top;
          padding-left: 6px; }
      #content .new_book .new_book_middle ul li .info a {
        color: #37a;
        text-decoration: none;
        width: 106px;
        max-width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        margin: 4px 0px 6px 0px;
        font-size: 3px; }
        #content .new_book .new_book_middle ul li .info a:hover {
          color: #fff;
          background: #37a; }
      #content .new_book .new_book_middle ul li .info P {
        width: 106px;
        max-width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
  #content .new_book .new_book_middle .qiufeng {
    position: relative; }
    #content .new_book .new_book_middle .qiufeng div {
      position: absolute;
      width: 40px;
      height: 24px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 24px;
      top: 88px;
      left: 550px;
      background-color: rgba(0, 0, 0, 0.298039); }
  #content .new_book .new_book_middle h2 {
    margin: 40px 0px 10px 0px;
    padding-bottom: 8px;
    font-size: 16px;
    border-bottom: 1px solid #ccc; }
    #content .new_book .new_book_middle h2 span {
      margin-left: 10px; }
      #content .new_book .new_book_middle h2 span a {
        text-decoration: none;
        font-size: 12px;
        color: #37a;
        text-decoration: none; }
        #content .new_book .new_book_middle h2 span a:hover {
          color: #fff;
          background: #37a; }
  #content .new_book .new_book_middle .bd ul li {
    list-style: none;
    width: 280px;
    font-size: 12px;
    vertical-align: top; }
    #content .new_book .new_book_middle .bd ul li .cover {
      float: left;
      overflow: hidden;
      margin-right: 18px; }
    #content .new_book .new_book_middle .bd ul li .bd_info h4 a {
      font-size: 14px;
      color: #37a;
      text-decoration: none; }
      #content .new_book .new_book_middle .bd ul li .bd_info h4 a:hover {
        color: #fff;
        background: #37a; }
    #content .new_book .new_book_middle .bd ul li .bd_info p {
      margin-top: 5px; }
    #content .new_book .new_book_middle .bd ul li .bd_info p span + span {
      color: #e5962a;
      font-size: 12px; }
    #content .new_book .new_book_middle .bd ul li .bd_info .extra-info {
      clear: both;
      color: #aaa;
      padding: 10px 0px 30px 0px; }
      #content .new_book .new_book_middle .bd ul li .bd_info .extra-info a {
        color: #37a;
        text-decoration: none; }
        #content .new_book .new_book_middle .bd ul li .bd_info .extra-info a:hover {
          color: #fff;
          background: #37a; }

#content .new_book .new_book_middle_right {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  margin-left: 20px; }
  #content .new_book .new_book_middle_right .new_book_middle_right_top a {
    position: relative; }
  #content .new_book .new_book_middle_right .new_book_middle_right_top div {
    position: absolute;
    width: 44px;
    height: 26px;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    text-align: center;
    line-height: 26px;
    left: 256px;
    top: -15px; }
  #content .new_book .new_book_middle_right .new_book_middle_right_top h3 {
    margin-top: 20px;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc; }
    #content .new_book .new_book_middle_right .new_book_middle_right_top h3 span {
      margin-left: 10px; }
      #content .new_book .new_book_middle_right .new_book_middle_right_top h3 span a {
        font-size: 12px;
        color: #37a;
        text-decoration: none; }
        #content .new_book .new_book_middle_right .new_book_middle_right_top h3 span a:hover {
          color: #fff;
          background: #37a; }
  #content .new_book .new_book_middle_right .new_book_middle_right_top ul {
    margin-top: 15px; }
    #content .new_book .new_book_middle_right .new_book_middle_right_top ul li {
      list-style: none;
      display: inline-block;
      padding: 0px 6px 4px 6px;
      margin: 0px 0px 4px 0px;
      background: #eee; }
      #content .new_book .new_book_middle_right .new_book_middle_right_top ul li a {
        color: #37a;
        font-size: 12px;
        text-decoration: none; }
      #content .new_book .new_book_middle_right .new_book_middle_right_top ul li:hover {
        background: #ddd; }
    #content .new_book .new_book_middle_right .new_book_middle_right_top ul li:first-child {
      display: block;
      color: #000;
      font-size: 12px;
      background: none; }
      #content .new_book .new_book_middle_right .new_book_middle_right_top ul li:first-child:hover {
        background: none; }
    #content .new_book .new_book_middle_right .new_book_middle_right_top ul li.last a {
      color: #aaa; }
  #content .new_book .new_book_middle_right .new_book_middle_right_bottom .weekly-top {
    color: #000;
    margin: 20px 0px 8px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc; }
  #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.nav-vendor {
    margin-bottom: 20px; }
    #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.nav-vendor .xuan_bang {
      background-color: #82705b;
      color: #fff;
      border-radius: 4px; }
    #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.nav-vendor li {
      list-style: none;
      margin-right: 14px;
      display: inline-block; }
      #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.nav-vendor li a {
        font-size: 12px;
        display: block;
        width: 66px;
        height: 30px;
        text-decoration: none;
        text-align: center;
        color: #ccc; }
        #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.nav-vendor li a:hover {
          background-color: #82705b;
          color: #fff;
          border-radius: 4px; }
        #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.nav-vendor li a img {
          vertical-align: middle; }
        #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.nav-vendor li a span {
          line-height: 30px;
          margin-left: 2px; }
  #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    padding: 4px 0px 4px 2px; }
    #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li span {
      color: #000;
      display: inline-block;
      vertical-align: top;
      font-size: 10px; }
    #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li .book-info {
      font-size: 12px;
      display: inline-block;
      vertical-align: top; }
      #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li .book-info a {
        color: #37a;
        text-decoration: none;
        float: none; }
        #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li .book-info a:hover {
          color: #fff;
          background: #37a; }
      #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li .book-info p {
        color: #666;
        margin-top: 4px; }
    #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li a {
      font-size: 12px;
      float: right; }
      #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li a span {
        vertical-align: middle;
        color: #bbb; }
    #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li:hover {
      background: #f9f9f6; }
      #content .new_book .new_book_middle_right .new_book_middle_right_bottom ul.list-ranking li:hover a span {
        color: #d9c7b3;
        border: 1px solid #d9c7b3;
        border-radius: 4px; }
